faster_whisper>=1.0.2
gradio>=4.13.0
spacy>=3.7.4
coqui-tts[languages]>=0.24.2
transformers>=4.57,<5
hangul-romanize==0.1.0

cutlet
fugashi[unidic-lite]

# Piper training and inference dependencies
Cython>=0.29.0
piper-phonemize-fix
librosa>=0.9.2
pytorch-lightning>=1.7.0
onnx>=1.11.0
onnxruntime>=1.11.0; sys_platform == 'darwin'
onnxruntime-gpu>=1.11.0; sys_platform != 'darwin' and python_version >= '3.12'
onnxruntime>=1.11.0; sys_platform != 'darwin' and python_version < '3.12'
onnx-simplifier>=0.4.10
onnxscript>=0.7.0

# Speaker Diarization Upgrade
pyannote-audio
uroman
